<!DOCTYPE html>


  <html>


          <head>
                  <title>My Website!</title>
                  <style>
                   body {
                      color: red;

                    }
                    ul {
                      color: green;
                    
                    }

                  </style>
            </head>

      <body>
            <h1>Names</h1>
            <ul>
                {% for name in names %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
      </body>


      </html>
